body {
    background: rgb(224, 224, 224);
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p {
    text-align: left;
    color: #2b2b2b;
    margin: 0.5rem 0;
    padding: 0;
    border: 0;
    line-height: 1.0;

}
th {
    font-size: 15px;
    text-align: inherit;
    color: var(--blake);

}

td {
    font-size: 14px;
    color: var(--gray-dark);
}

article {
    margin-top: 13px;
}

a {
    color: var(--gray-dark);
    text-decoration: none;
}

svg {
    position: fixed;
    z-index: -1;
}

#svg-top {
    top: 0;
}

#svg-bottom{
    bottom: 0;
}

.line {
width: 100%;
    height: 10px;
    border-top: 8px dotted var(--orang);
    margin-bottom: 15px;
}

.line-gray {
width: 100%;
    height: 4px;
    border-top: 4px solid var(--gray);
    margin-bottom: 15px;
    opacity: 0.6;
 }
.line-gray-2 {
    width: 100%;
    height: 4px;
    border-top: 2px solid var(--gray);
    margin-bottom: 5px;
    margin-top: 10px;
    opacity: 0.3;
}

page[size="A4"] {
    background-color: white;
    width: 21cm;
    height: 29.2cm;
    display: block;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(123, 123, 123, 0.5);
}

@media print {
    body, page[size="A4"] {
        margin: 0;
        box-shadow: 0 0 0;
    }
}

.content {
    display: flex;
    overflow: hidden;
    height: 100%;
    padding: 10px 2px 5px 2px;
}
.page {
    height: 33.5cm!important;
}

section {
    display: block;
    margin: 0 2mm;
    padding: 0 2mm;
    text-overflow: clip;
}

.container-lift {
    width: 65%;
}

.container-right {
    width: 30%;
    /*background-color: #559fff;*/
}

.container-lift li {
    padding-bottom: 5px;
}

.container-right ul {
    padding-left: 0px;
}

li {
    font-size: 12px;
    color: #2b2a2a;
    padding-bottom: 5px;
    list-style-type: none;
}

#me {
    font-size: 13px;
    font-weight: 700;
}


* {
    box-sizing: border-box;
}

:root {
    --blue: #4BADDE;
    --white: #ffffff;
    --blake: #2F2D2D;
    --gray: #A3A6AA;
    --gray-blue: #4BADDE;
    --gray-dark: #4D4E50;
    --gray-lite: #E1E1E1;
    --orang: #FF7F00;
    --green: #84F547;
    --brown: #D4C6B2;

    --decorator-horizontal-margin: 0.2in;
    --sidebar-horizontal-padding: 0.2in;

    --decorator-outer-offset-top: 7px;
    --decorator-outer-offset-left: -5.0px;
    --decorator-border-width: 0px;
    --decorator-outer-dim: 9px;
    --decorator-border: 1px solid var(--gray-lite);

    --row-blocks-padding-top: 5pt;
    --date-block-width: 0.6in;
    --main-blocks-title-icon-offset-left: -19pt;
}


li {
    list-style-type: none;
}

span {
    width: 40px;
    text-transform: uppercase;
    color: var(--gray-dark);
}

ul {
    padding: 0;
    margin: 1px 0 1px 0;
}

li {
    color: var(--gray);
}

.title {
    text-transform: uppercase;
    font-size: 20px;
    color: var(--orang);
}

.job-title {
    text-align: center;
    padding: 5px;
}

.main-block {
    margin-top: 4mm;
}

.blocks {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
}

.blocks > div {
    padding-top: var(--row-blocks-padding-top);
}

.blocks > h1, h2, h3, h4, h5, p {
    margin: 0;
}

.date {
    flex: 0 0 var(--date-block-width);
    padding-top: 8px !important;
    font-size: 6pt;
    text-align: right;
    line-height: 1;
    margin-right: 5px;
}

.date span {
    display: block;
}

.date span:nth-child(2)::before {
    position: relative;
    top: -1px;
    right: 5.5pt;
    display: block;
    height: 6pt;
    content: '|';
    color: var(--gray);
}

.decorator {
    flex: 0 0 0;
    position: relative;
    width: 2pt;
    min-height: 100%;
    border-left: var(--decorator-border);
}

.decorator::after {
    position: absolute;
    content: url("image/dot.svg");
    top: 2px;
    left: -5px;
    display: block;
    width: calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
    height: calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
    border-radius: calc((var(--decorator-outer-dim) - (var(--decorator-border-width) * 2)) / 2);
}

.details {
    flex: 1 0 0;
    padding-left: var(--decorator-horizontal-margin);
    padding-top: calc(var(--row-blocks-padding-top) - 0.5pt) !important; /* not sure why but this is needed for better alignment */
}

.details header {
    color: var(--blake);
}

.details h3 {
    font-size: 9pt;
}

.main-block:not(.concise) .details div {
    margin: 4px 0 2px 0;
}

.main-block:not(.concise) .blocks:last-child .details div {
    margin-bottom: 0;
}

.main-block.concise .details div:not(.concise) {
    padding: 0.05in 0 0.07in 0;
}

.details div {
    clear: both;
}
